<div class="d-flex justify-content-center" style="margin-top: 3rem;">

  <div class="card" style="width: 40rem;" *ngIf="book">
    <div class="card-header">
      {{book.name}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let author of book.authors"><span>{{author}}</span></li>
      <li class="list-group-item">{{book.numberOfPages}}</li>
      <li class="list-group-item">{{book.released |date }}</li>
      <li class="list-group-item">{{book.country}}</li>
      <li class="list-group-item">{{book.publisher}}</li>
      <app-characters-pagination [book]="book"></app-characters-pagination>
    </ul>
  </div>
</div>
